#
# Copyright (C) <2019-2021>
#   <Cypress Semiconductor Corporation (an Infineon company)>
#

source [find target/cympn.cfg]

###############################################################################
# Mapping between target from the MPN database and their configuration files
###############################################################################
set MXS40_TARGET_VAR_CONFIG_DICT [dict create \
	PSoC6ABLE2 psoc6.cfg                                            \
	PSoC6A256K psoc6_256k.cfg                                       \
	PSoC6A512K psoc6_512k.cfg                                       \
	PSoC6A2M   psoc6_2m.cfg                                         \
	FX3G2      fx3g2.cfg                                            \
	TVIIBH4M   {cat1c.cfg", "traveo2_4m.cfg}                        \
	TVIIBH8M   {cat1c.cfg", "traveo2_8m.cfg" or "traveo2_8m_b0.cfg} \
	TVIIBE1M   traveo2_1m_a0.cfg                                    \
	TVIIBE2M   traveo2_2m.cfg                                       \
	TVIIBE4M   traveo2_be_4m.cfg                                    \
]

#
# checks the correspondance of provided cfg file and a connected device
#
# arguments:
#	TARGET_VAR - detected target variant of connected device
#	SERIES - detected series of connected device
#
# return
#	none
#
proc check_die_matches_driver { TARGET_VAR SERIES } {
	set tgt [target current]
	set CHIPNAME [string range ${tgt} 0 [expr {[string first "." ${tgt}] - 1}]]
	global ${CHIPNAME}::wrong_cfg_msg
	global ${CHIPNAME}::MXS40_TARGET_VARIANT
	global MXS40_TARGET_VAR_CONFIG_DICT

	if {![info exists ${CHIPNAME}::MXS40_TARGET_VARIANT]} return

	set is_psoc64 [string equal -nocase $SERIES "PSoC 64"]
	set is_psoc64_cfg [string equal -nocase $CHIPNAME "psoc64"]
	set is_psoc4500 [string equal -nocase $SERIES "PSoC 4500H"]
	set is_psoc4500_cfg [string equal -nocase $CHIPNAME "psoc4500"]
	set is_traveo512 [string equal -nocase $SERIES "CYT2B6"]
	set is_traveo512_cfg [string equal -nocase [ set ${CHIPNAME}::MXS40_TARGET_VARIANT ] "TVIIBE1M_512K"]
	set config_check [lsearch -exact [set ${CHIPNAME}::MXS40_TARGET_VARIANT] $TARGET_VAR ]

	if {($config_check == "-1" && !$is_traveo512) || 
	(($is_psoc64 && !$is_psoc64_cfg) || (!$is_psoc64 && $is_psoc64_cfg)) ||
	(($is_psoc4500 && !$is_psoc4500_cfg) || (!$is_psoc4500 && $is_psoc4500_cfg)) ||
	(($is_traveo512 && !$is_traveo512_cfg) || (!$is_traveo512 && $is_traveo512_cfg))} {
		if { [info exists MXS40_TARGET_VAR_CONFIG_DICT($TARGET_VAR)] } {
			set ${CHIPNAME}::wrong_cfg_msg \"$MXS40_TARGET_VAR_CONFIG_DICT($TARGET_VAR)\"
			if { $is_psoc64 } {
				set ${CHIPNAME}::wrong_cfg_msg [regsub {\.} [set ${CHIPNAME}::wrong_cfg_msg] {_secure.}]
			}
			if { $is_traveo512 } {
				set ${CHIPNAME}::wrong_cfg_msg \"traveo2_512k_a0.cfg\"
			}
			if { $is_psoc4500 } {
				set ${CHIPNAME}::wrong_cfg_msg \"psoc4500.cfg\"
			}
		} else {
			set ${CHIPNAME}::wrong_cfg_msg "proper"
		}
	}
}

#
# returns size of main and work flash of connected MPN
#
# Performs following:
#	- reads SiId from sflash
#	- path through UDD and searches for record with the SiId
#	- if the record is found then size of main and work flash is extracted
#		and returned, otherwise empty list is returned
#
# arguments:
#	target_arch - used architecture, can be "psoc6" or "traveo2"
#
# return
#	list of flash sizes in form {main_size_kb work_size_kb}
#
proc cyp_get_mpn_work_main_size { target_arch } {
	global MPN

	set siid ""
	set revision ""
	set family ""

	switch $target_arch {
		"psoc6" -
		"psoc6_2m" {
			set addr_siid 0x16000000
			set addr_family 0x1600000C
		}
		"traveo2" {
			set addr_siid 0x17000000
			set addr_family 0x1700000C
		}
	}

	catch {
		set siid [format "%04X" [expr {[mrw $addr_siid] >> 16} ]]
		set revision [format "%02X" [expr {([mrw $addr_siid] & 0x0000FF00) >> 8}]]
		set family [format "%03X" [expr {[mrw $addr_family] & 0x00000FFF}]]
	}

	if {$family != ""} {
		# as per MTRO-57
		set rev_major "0x0[string index $revision 0]"
		if { $rev_major == "0" } {
			set rev_major_str "*"
		} else {
			set rev_major_str [format %c [expr {$rev_major + 0x40}]]
		}

		set rev_minor "0x0[string index $revision 1]"
		if { $rev_minor == "0" } {
			set rev_minor_str "*"
		} else {
			set rev_minor_str [expr {$rev_minor - 1} ]
		}

		set rev_str "[format %c [expr {$rev_major + 0x40}]]$rev_minor"
		echo "** Silicon: 0x$siid, Family: 0x$family, Rev.: 0x$revision (${rev_major_str}${rev_minor_str})"
	}

	if { [dict exists $MPN $siid] } {
		set PN [lindex $MPN($siid) 0]
		set TARGET_VAR [lindex $MPN($siid) 1]
		set SERIES [lindex $MPN($siid) 4]
		set main_size [lindex $MPN($siid) 2]
		set work_size [lindex $MPN($siid) 3]
		echo "** Detected Device: $PN"
		check_die_matches_driver $TARGET_VAR $SERIES
		return [list $main_size $work_size]
	} elseif { ![info exists $siid] } {
		#if no SiID is available - wrong address for SiID was specified in the cfg file
		set tgt [target current]
		set CHIPNAME [string range ${tgt} 0 [expr {[string first "." ${tgt}] - 1}]]
		global ${CHIPNAME}::wrong_cfg_msg
		set ${CHIPNAME}::wrong_cfg_msg "proper"
	} else {
		echo "** The connected device is not available in the device database"
	}

	return {}
}
